.project-wrapper {
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;

  .project-header {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
  }

  .project-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }

  .card {
    margin: 5px;
    position: inherit;

    .tech-icons {
      img {
        background: beige;
        padding: 2px;
        margin: 2px;
        height: 60px;
        width: auto;
        border-radius: 10%;
      }
    }

  }

  .card-link {
    text-decoration: none;
  }

  .bg-secondary {
    background-color: #4d4d4d !important;
    color: #d9d9d9;
  }
}

@media only screen and (max-width: 768px) {
  .project-wrapper {
    .project-header {
      font-size: 40px;
      text-align: center;
      font-weight: bold;
    }
    .project-wrap {
      display: grid;
      grid-template-columns: auto;
    }
  }
}
