.skills-wrapper {
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;

  .skills-header{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
  }

  .section{
    margin: 5% 0 5% 0;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      height: 8em;
    }
  }
}